.Header {
  padding: 20px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 100%
}

.Header>* {
  margin: 0px 20px;
}

.Header_logoContainer {
  display: flex;
}

.Header_logoImage {
  width: 96px;
  height: 96px;
}

.Header_logoTitle {
  font-size: 2rem;
  display: none;
  margin-left: 10px;
}

.Header_searchBar {
  margin-left: auto;
}

@media screen and (min-width: 710px) {
  .Header_logoTitle {
    display: block;
  }

  .Header_logoImage {
    width: 48px;
    height: 48px;
  }
}