.Counter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #ffffff12;
  transition: background-color 100ms;
}

.Counter_count {
  margin: 0;
  margin-left: 1em;
}

.Counter:hover {
  background-color: #ffffff36;
}