.BeastCard {
  border: 2px solid black;
  width: 224px;
  overflow: hidden;
  /* padding: 12px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: min-content;
}

.BeastCard_image {
  opacity: 90%;
}

.BeastCard_figure {
  margin: 0;
}

.BeastCard_title {
  padding: .5em;
  font-size: 1.2rem;
  line-height: 1em;
}

.BeastCard_buttonRow {
  display: flex;
  justify-content: center;
  margin-top: auto;
  cursor: pointer;
  user-select: none;
  /* background-color: #ffffff12; */
}